.card {
    height: 25rem;
    width: 300px;
    display: inline-block;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 150px;
    transform-style: preserve-3d;
    transition: all 0.4s ease-in-out;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    
  }

  .head {
    background-color:#ee5253;
    height: 200px;
    margin: auto;
    border-radius: 25px;
    line-height: 120px;
    display: flex;
  }

  
  .card .front {
    height: 25rem;
    width: 300px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    position: absolute;
    overflow: hidden;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    
  }

  .isFlipped {
    transform: rotateY(180deg);
    transition: all 0.4s ease-in-out;

  }
  
  .card .back {
    transform: rotateY(180deg);
    height: 25rem;
    width: 300px;
    text-align: center;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 15px;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
  }
  
  .english{
    color: #333;
    font-size: 2.3rem;
    padding-top: 55%;
  }
  
  .hanzi{
    color: #333;
    font-size: 6.3em;
    padding-top: 30%;
  }
  
  .pinyin{
      color: #ee5253;
      font-size: 2.3em;
      padding-top: 10%;
  }

 