.cardNumber {
    color: #333;
}

.cardRow {
    height: 34rem;
}

.buttonRow {
    height: 200px;
}

.head {
    background-color:#ee5253;
    height: 200px;
    margin: auto;
    line-height: 120px;
    display: flex;
}