.img {
    position: relative;
    bottom: -200px;
    left: 10%;
    width: 350px;
    height: 263px;
}

.text {
    position: relative;
    left: 5%;
    bottom: -75px;
    color: #ee5253;
}

p {
    color: black;
}