.buttonContainer {
    display: flex;
    justify-content: center;
}

.btn {
    border-radius: 12px;
    width: 300px;
    height: 60px;
    position: absolute;
    bottom: 65px;
    border: none;
    cursor: pointer;
    outline: none;
    background-color:#ee5253;
    color: white;
}
button {
    font-size: 20px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.btn:hover {
    background-color: #c0392b;
}
